<div class="mb-3">
  <% Post::QUERY_SCOPES.each do |scope| %>
    <% if @current_scope == scope %>
      <span class="small btn btn-sm btn-primary"><%= scope.to_s.capitalize %></span>
    <% else %>
      <%= link_to scope.to_s.capitalize, root_path(scope: scope), class: "text-muted small scope-link btn btn-sm" %>
    <% end %>
  <% end %>
</div>
<div class="post-list">
  <% if @posts.present? %>
    <%= render partial: "posts/post", collection: @posts %>
    <%= paginate(@posts) %>
  <% else %>
    <div class="card p-5 text-center small text-muted">
      There are no posts to review :)
    </div>
  <% end %>
</div>
