<div class="post-list">
  <% if @posts %>
    <%= render partial: "posts/post", collection: @posts %>
  <% else %>
    <div class="card p-5 text-center">
      There are no pull requests to review :)
    </div>
  <% end %>
</div>
