<div class="post-list">
  <% if @posts.present? %>
    <%= render partial: "posts/post", collection: @posts %>
    <%= paginate(@posts) %>
  <% else %>
    <div class="card p-5 text-center small text-muted">
      There are no posts to review :)
    </div>
  <% end %>
</div>
<% content_for(:sidebar) do %>
  <div class="mb-3">
    <%= render partial: "branches/info", locals: {branch: @branch} %>
  </div>
  <%= render partial: "branches/branches" %>
<% end %>
